<!DOCTYPE html>
<html ng-app="Britannia" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Britannia Development Company</title>
    <meta name="description" content="We are a nationwide real estate development company with over 20 years of REO property repair and general construction experience.">
    <link rel="icon" href="/img/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="/img/favicon.png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/britannia.min.css"/>
  </head>
  <body>
    <header id="top" class="header md-whiteframe-13dp" ng-class="{open:menuOpen}" ng-controller="NavCtrl" ng-cloak>
      <div class="container">
        <div class="header-top clearfix">
          <a ui-sref="home" class="logo" ng-click="closeMenu()"><img src="img/logo.png" alt="Britannia Logo"/></a>
          <a href="javascript:void(0)" class="menu-toggle" ng-click="toggleMenu()"><span></span></a>
          <div class="menu" style="{{ menuStyle }}">
            <div id="menu-wrapper" class="wrapper">
              <a ui-sref="home" ng-click="closeMenu()">Home</a>
              <a ui-sref="services" ng-click="closeMenu()">Services</a>
              <a ui-sref="service-areas" ng-click="closeMenu()">Service Areas</a>
            </div>
          </div>
        </div>
      </div>
    </header>
    <ui-view ng-cloak></ui-view>
    <footer class="footer">
      <div class="container" layout-gt-xs="row">
        <div class="footer-company" flex-gt-xs="33">
          <h2>Company</h2>
          <p><a ui-sref="home">Home</a></p>
          <p><a ui-sref="services">Services</a></p>
          <p><a ui-sref="service-areas">Service Areas</a></p>
        </div>
        <div class="footer-contact" flex-gt-xs="33">
          <h2>Contact</h2>
          <p><a href="mailto:info@britanniareo.com">info@britanniareo.com</a></p>
          <p><a href="tel:+18003779202" class="md-raised md-primary">+1 (800)-377-9202</a></p>
          <div class="social-links" layout="row" layout-align="center center" layout-wrap>
            <md-button href="https://www.facebook.com/britdevelopment/" class="md-fab md-mini facebook" aria-label="Like us on facebook"><i class="fa fa-facebook"></i></md-button>
            <md-button href="https://twitter.com/BritanniaDev" class="md-fab md-mini twitter" aria-label="Follow us on twitter"><i class="fa fa-twitter"></i></md-button>
            <md-button href="https://www.linkedin.com/in/britanniadevelopmentcompany" class="md-fab md-mini linkedin" aria-label="connect with us on linkedin"><i class="fa fa-linkedin"></i></md-button>
            <md-button href="https://plus.google.com/+BritanniaDevelopmentCompanyIncMinneapolis/posts" class="md-fab md-mini google-plus" aria-label="Add us on google+"><i class="fa fa-google-plus"></i></md-button>
          </div>
        </div>
        <div class="footer-address" flex-gt-xs="33">
          <h2>Address</h2>
          <div>
            <p>14212 23rd Ave. N.</p>
            <p>Minneapolis, MN  55447</p>
          </div>
          <div>
            <p>17595 S. Tamiami Trail Suite 201</p>
            <p>Fort Myers, FL  33908</p>
          </div>
          <div>
            <p>6260 39th St. N. Suite J</p>
            <p>Pinellas Park, FL  33781</p>
          </div>
        </div>
      </div>
      <p class="footer-legal text-dark-secondary">Britannia Development Company &copy; 2016-2018. <span class="inline-block">All rights reserved.</span></p>
    </footer>
    <script src="js/vendor.min.js"></script>
  	<script src="js/britannia.min.js"></script>
  </body>
</html>
