<!DOCTYPE html>
<html ng-app="Britannia" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Britannia Development Co</title>
    <link rel="stylesheet" href="css/britannia.css"/>
  </head>
  <body>
    <header id="top" class="header md-whiteframe-z5" ng-class="{open:menuOpen}" ng-controller="NavCtrl">
      <div class="container">
        <div class="header-top clearfix">
          <a ui-sref="home" class="logo"><img src="img/logo.png" alt="Britannia Logo"/></a>
          <a href="javascript:void(0)" class="menu-toggle" ng-click="toggleMenu()"><span></span></a>
          <div class="menu" style="{{ menuStyle }}">
            <div id="menu-wrapper" class="wrapper">
              <a ui-sref="services" ng-click="closeMenu()">Services</a>
              <a href="javascript:void(0)" ng-click="closeMenu()">Nav Link 2</a>
              <a href="javascript:void(0)" ng-click="closeMenu()">Nav Link 3</a>
            </div>
          </div>
        </div>
      </div>
    </header>
    <ui-view></ui-view>
    <script src="js/vendor.js"></script>
  	<script src="js/britannia.js"></script>
  </body>
</html>
