/* Angular Material Styles */
@import 'https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0-rc1/angular-material.min.css';

* {
  box-sizing: border-box;
}

body {
    background: #FFF;
    color: rgba(0,0,0,0.87);
    font-size: 12px;
    font-weight: normal;
    line-height: 1.4em;
    margin: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
}

.clearfix {
  &:before,
  &:after {
    content: " "; 
    display: table;
  }

  &:after {
    clear: both;
  }
}

.text-light {
  color: rgba(0,0,0,.54);
}

.text-lighter {
  color: rgba(0,0,0,.38);
}

.header {
  color: rgba(0,0,0,0.87);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
  background: #FFF;

  .container {
    max-width: 100%;
  }

  .header-top {
    padding: 6px 0px;
  }

  a {
    color: rgba(0,0,0,0.87);

    &.logo {
      float: left;

      @media screen and (min-width: 768px) {
        margin-left: 16px;
      }

      img {
        display: block;
        height: 48px;
        width: auto;
      }
    }
  }

  .title {
    display: inline-block;
    padding-left: 12px;
    line-height: 48px;
    font-size: 21px;
    font-weight: 300;
  }

  .menu {
    width: 100%;
    float: right;
    margin-right: 16px;
    height: 0;
    overflow: hidden;
    transition: height 0.5s ease;

    @media screen and (min-width: 768px) {
      width: auto;
      height: auto;
    }

    a {
      font-size: 14px;
      line-height: 48px;
      text-transform: uppercase;
      display: block;
      text-align: center;
      padding: 0 24px;

      @media screen and (min-width: 768px) {
        display: inline;
        text-align: right;
      }

      &:last-child {
        @media screen and (min-width: 768px) {
          padding-right: 0;
        }
      }
    }
  }
}

.menu-toggle { 
  cursor: pointer;
  position: fixed;
  top: 17px;
  padding: 10px 35px 16px 0;
  right: 15px;

  @media screen and (min-width: 768px) {
    display: none;
  }

  span,
  span:before,
  span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 4px;
    width: 32px;
    background: rgba(0,0,0,0.87);
    position: absolute;
    display: block;
    content: '';
    transition: all 0.5s ease;
  }

  span:before {
    top: -10px; 
  }

  span:after {
    bottom: -10px;
  }

  .open & span {
    background-color: transparent !important;

    &:before,
    &:after {
      top: 0;
    }

    &:before {
      transform: rotate(-45deg);
    }

    &:after {
      transform: rotate(45deg);
    }
  }
}

.home--page {
  text-align: center;

  @media screen and (min-width: 600px) {
    margin: 0;
    width: 100%;
    min-height: 100%;
    height: 100%;
    background: url(/img/banner_bg.jpg) no-repeat center top fixed;
    background-size: cover;
  }

  @media
    only screen and (-webkit-min-device-pixel-ratio: 2)      and (min-width: 1200px),
    only screen and (   min--moz-device-pixel-ratio: 2)      and (min-width: 1200px),
    only screen and (     -o-min-device-pixel-ratio: 2/1)    and (min-width: 1200px),
    only screen and (        min-device-pixel-ratio: 2)      and (min-width: 1200px),
    only screen and (                min-resolution: 192dpi) and (min-width: 1200px),
    only screen and (                min-resolution: 2dppx)  and (min-width: 1200px) {
    background: url(/img/banner_bg_2x.jpg) no-repeat center top fixed;
    background-size: cover;
  }  

  md-card {
    max-width: 600px;
    margin: 0 auto;
    box-shadow: none;

    @media screen and (min-width: 600px) {
      box-shadow: 0 4px 5px -2px rgba(0,0,0,.2),0 7px 10px 1px rgba(0,0,0,.14),0 2px 16px 1px rgba(0,0,0,.12);
    }
  }

  md-card-content {
    padding: 16px 32px;
  } 

  img {
    max-width: 480px;
    margin: 0 auto;
  } 

  .md-button {
    width: 100%;
    margin: 6px 0;

    @media screen and (min-width: 600px) {
      width: 240px;
      margin: 6px 8px;
    }
  }

  .fa {
    margin-right: 8px;
  }
}