<main class="page page--service-areas">
  <section class="container">
    <h1>Service Areas</h1>
    <md-card>
      <md-card-content>
        <md-tabs md-dynamic-height md-border-bottom md-swipe-content md-selected="3" class="md-primary">
          <md-tab ng-repeat="state in states | orderBy:'name'" label="{{ state.name }}">
            <md-content class="md-padding">
              <h2>{{ state.name }}</h2>
              <h3 class="stateface">{{ state.icon }}</h3>
              <p ng-repeat="county in counties | filter:{ state: state.abbr } | orderBy:'name'">{{ county.name }}</p>
            </md-content>
          </md-tab>
        </md-tabs>
      </md-card-content>
    </md-card>
  </section>
</main>