<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Debris Squad</title>
    <meta name="description" content="Debris Squad is a local, family-owned, full-service debris removal company serving residential and commercial properties in Florida and Minnesota.">
    <link rel="icon" href="/img/debris-squad/favicon.ico">
    <link rel="apple-touch-icon-precomposed" href="/img/debris-squad/favicon.ico">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato|Montserrat:600">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/debris-squad.min.css"/>
    <script src="//static.leadpages.net/leadboxes/current/embed.js" async defer></script> 
  </head>
  <body>

    <section class="ds-banner">
      <header>
        <a href="/" class="logo">
          <img src="/img/debris-squad/logo-color-long.png" alt="Debris Squad Logo"/>
        </a>
        <a href="tel:1-844-433-2747" class="phone">
          <i class="fa fa-phone"></i>
          <span>844-4DE-BRIS</span>
        </a>
      </header>
      <div>
        <h1>Looking for storm cleanup?</h1>
        <h2>We're here to help.</h2>
        <a class="cta" href="" data-leadbox-popup="143723373f72a2:1412ca7f4346dc" data-leadbox-domain="thorsenty.lpusercontent.com">Get a free estimate</a> 
      </div>
      <div></div>
    </section>

    <section class="ds-about">
      <p>Debris Squad is a local, family-owned, full-service debris removal company with over ten years of residential and commercial experience. Our friendly, seasoned staff provide the highest level of customer service in a timely and safe manner. With locations in Florida and Minnesota, we can handle any type of tree, weather, or debris!</p>
      <p>Our services include but are not limited to:</p>
      <ul>
        <li>Tree removal</li>
        <li>Stump removal</li>
        <li>Storm debris removal</li>
        <li>Appliance removal/recycling</li>
        <li>Trash-outs</li>
        <li>Structure removal</li>
        <li>Mold remediation</li>
        <li>Storm clean-up</li>
        <li>Hurricane & storm proofing</li>
      </ul>
      <p>Please contact us today for a <a href="" data-leadbox-popup="143723373f72a2:1412ca7f4346dc" data-leadbox-domain="thorsenty.lpusercontent.com">free estimate</a> and more information on our services.</p>
    </section>

    <footer>
      <div>
        <p class="license">License: CRC1331337</p>
        <p>&copy; 2017 Debris Squad - A Division of Britannia Development Company.</p>
      </div>
    </footer>
  </body>
</html>