<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Debris Squad</title>
    <meta name="description" content="Debris Squad is a local, family-owned, full-service debris removal company serving residential and commercial properties in Florida and Minnesota.">
    <link rel="icon" href="/img/debris-squad/favicon.ico">
    <link rel="apple-touch-icon-precomposed" href="/img/debris-squad/favicon.ico">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato|Montserrat:600">
    <link rel="stylesheet" href="css/debris-squad.min.css"/>
    <script src="//static.leadpages.net/leadboxes/current/embed.js" async defer></script> 
  </head>
  <body>
    <section class="ds-banner">
      <div>
        <a href="/" class="logo">
          <img src="/img/debris-squad/logo-white-long.png" alt="Debris Squad Logo"/>
        </a>
        <h1>Looking for storm cleanup?</h1>
        <h2>We're here to help.</h2>
        <a class="cta" href="" data-leadbox-popup="143723373f72a2:1412ca7f4346dc" data-leadbox-domain="thorsenty.lpusercontent.com">Get a free estimate</a> 
      </div>
    </section>
  </body>
</html>