<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Thank You | Debris Squad</title>
    <meta name="description" content="Debris Squad is a local, family-owned, full-service debris removal company serving residential and commercial properties in Florida and Minnesota.">
    <meta name="robots" content="noindex, nofollow"/>
    <link rel="icon" href="/img/debris-squad/favicon.ico">
    <link rel="apple-touch-icon-precomposed" href="/img/debris-squad/favicon.ico">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato|Montserrat:600">
    <link rel="stylesheet" href="/css/debris-squad.min.css"/>
    <script src="//static.leadpages.net/leadboxes/current/embed.js" async defer></script> 
  </head>
  <body>
    <section class="ds-thank-you">
      <header></header>
      <div>
        <i class="fa fa-check"></i>
        <h1>Thank you!</h1>
        <p>We've received your information and will contact you with your estimate shortly.</p>
        <a href="/" class="logo">
          <img src="/img/debris-squad/logo-color-long.png" alt="Debris Squad Logo"/>
        </a>
      </div>
      <footer>
        <p>&copy; 2017 Debris Squad LLC, all rights reserved.</p>
      </footer>
    </section>
  </body>
</html>